<hr />
<a class="nav-link" href="{{"/feed.xml" | relative_url }}">RSS</a> | 
<a class="nav-link" href="{{"https://twitter.com" | relative_url }}" target="_blank">Twitter</a> | 
<a class="nav-link" href="{{"https://facebook.com" | relative_url }}" target="_blank">Facebook</a> | 
<a class="nav-link" href="{{"https://instagram.com" | relative_url }}" target="_blank">Instagram</a> | 
<a class="nav-link" href="{{"/terms" | relative_url }}">Terms</a> | 
<a class="nav-link" href="{{"/privacy" | relative_url }}">Privacy</a> | 
<a class="nav-link" href="{{"/sitemap.xml" | relative_url }}">Sitemap</a> | 
Copyright 2023 Zombiedogz
