---
---

body {
    font-family:    Arial, sans-serif;
    color:        rgb(212, 216, 205);
    background-color: rgb(79, 76, 92);
  }

h1,h2,h3,h4,h5,h6 {
    padding-top:    20px;
    padding-left:   20px;
}

p {
    padding-left:   20px;
    padding-right:  20px;
}
 
a:link {
  color: rgb(140, 255, 140);
}

a:visited {
  color: red;
}

a:hover {
  color: rgb(185, 7, 96);
  background:#87b487;
}

a:active {
  color: rgb(175, 175, 196);
} 

ul {
  padding-left: 50px;
}