---
---
body {
    font-family: Arial, sans-serif;
  }

  h1,h2,h3,h4,h5,h6 {
    color:darkolivegreen;
    margin-bottom: 30px;
  }

  p {
    color:darkolivegreen;
    padding-top:    10px;
    padding-right:  10px;
    padding-bottom: 10px;
    padding-left:   10px;
  }